.comm {
    background-color: rgb(255, 255, 255);
    color: black;
    height: 800px;
    width: 800px;
    border-radius: 20px;
}

.ka {
    background-color: rgb(104, 103, 103);
}

iframe {
    width: 49rem;
    height: 431px;
    margin-top: 5rem;
    margin-left: 18%;
}

.countere {
    display: flex;
    flex-direction: row;
}

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.76);
}