@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
.hamilton,
.Verstappen,
.Bottas {
    border-radius: 30px;
    background-color: white;
    border: solid;
}

.img1 {
    width: 7%;
}

.bg {
    background-color: rgb(192, 184, 184);
}

.navbar,
.test {
    background-color: red;
    color: white;
}

.hi {
    border-radius: 20px;
}

.pts {
    background-color: grey;
}

li:hover {
    background-color: rgba(0, 0, 0, 0.493);
}

.pilot {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.hamilton {
    transition: transform .2s;
}

.hamilton:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 10px rgb(0, 247, 255);
}

.Verstappen {
    transition: transform .2s;
}

.Verstappen:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 10px rgb(0, 4, 255);
}

.Bottas {
    transition: transform .2s;
}

.Bottas:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 10px rgb(0, 247, 255);
}

.logo {
    width: 100px;
    height: 30px;
}

.prem2 {
    font-family: 'Nanum Myeongjo', serif;
    text-shadow: rgb(255, 8, 0) 1px 0 10px;
}